<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload File</title>
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
  <style>
    .plot-container {
      width: 100%; /* Adjust the width of the plot container */
      height: 600px; /* Adjust the height of the plot container */
      margin: 20px auto;
    }
  </style>
  {{ plot_script }}
</head>

<body>
  <h1 class="text-2xl font-bold mb-4 text-center">Upload File</h1>
  <form method="POST" enctype="multipart/form-data" class="max-w-md mx-auto">
    {{ form.hidden_tag() }}
    <div class="mb-4">
      <label for="file" class="block mb-2">Select a file:</label>
      <input type="file" name="file" id="file" class="border px-4 py-2 rounded-lg">
      {% if form.file.errors %}
      <ul class="errors">
        {% for error in form.file.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="mb-4">
      <label for="tolerance" class="block mb-2">Tolerance:</label>
      <input type="number" step="0.01" name="tolerance" id="tolerance" class="border px-4 py-2 rounded-lg">
      {% if form.tolerance.errors %}
      <ul class="errors">
        {% for error in form.tolerance.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="mb-4">
      <label for="target_column" class="block mb-2">Target Column:</label>
      <input type="text" name="target_column" id="target_column" class="border px-4 py-2 rounded-lg">
      <small class="form-text text-muted block">{{ form.target_column.description }}</small>
      {% if form.target_column.errors %}
      <ul class="errors">
        {% for error in form.target_column.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Upload</button>
    </div>
  </form>

  {% if plot_html %}
  <div class="plot-container">
    {{ plot_html|safe }}
  </div>
  {% endif %}

  {% if valid_bedford is defined%}
  <div class="validation-status ml-8">
    {% if valid_bedford %}
    <p class="text-green-500 text-base font-medium">The observed distribution follows Bedford's Law with a tolerance of {{ tolerance }}.</p>
    {% else %}
    <p class="text-red-500 text-base font-medium">The observed distribution does not follow Bedford's Law with a tolerance of {{ tolerance }}.</p>
    {% endif %}
  </div>
  {% endif %}

  {{ plot_script }}
</body>

</html>
